---  Execute the script from psql as postgres user

--
-- set some client variables	
set client_min_messages to error;
set statement_timeout = 0;
set client_encoding = 'utf8';
set standard_conforming_strings = off;
set check_function_bodies = false;
set client_min_messages = warning;
set escape_string_warning = off;


-- Spool output to log file
\o 01.create.schema.log

----------------------------------------------------------------------------------

create schema ef authorization efl_user;

----------------------------------------------------------------------------------
